.App {
  text-align: center;
}

.block{
  width: 30%;
 aspect-ratio: 1/1;
  border: 5px solid #000;
  background-size: cover !important;
  display: inline-block;
}

.mark2{
  background: url('./images/dot.png');
}
.mark1{
  background: url('./images/cross.png');
}

.board {
  width: 30%;
  margin: auto;
}